body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: var(--background);
    font-family: var(--font);
}

#slideshow {
    width: 100%;
    height: 100%;
}

/* !important is used sparingly to suppress any disobedient embeds */
.slide {
    display: flex;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.embed {
    display: none;
}

/* FIXME: compatibility with non-webkit browsers!! */
.slide::-webkit-scrollbar {
    display: none;
}

.shown {
    visibility: visible;
}

.shown .embed {
    display: initial;
}

/* positioning for slide content */
.slide img {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    object-position: 50% 50%;
}

.embed {
    margin: auto;
}

.embed > * {
    position: relative !important; /* naughty embeds that use absolute positioning will screw up the layout */
}

/* zoom stuff */
.zoomable {
    cursor: zoom-in;
}

.zoomed-in img {
    max-width: initial;
    max-height: initial;
    cursor: zoom-out;
}

/* info elements */
#post-info {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 2px;
}

.status-text {
    color: var(--status-color);
    font-size: 11pt;
}

#debug {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.3em;
}

a, a:visited {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* navigation arrows at the side */
.handle {
    top: 50%;
    height: 3.0em;
    transform: translateY(-50%);
    border: 0;
    background-color: var(--handle-bg);
    color: var(--handle-fg);
    display: none;
}

@media (pointer: coarse) {
    .handle {
        display: initial;
    }
}

.handle:hover {
    color: var(--handle-fg-hover);
    cursor: pointer;
}

#left-button {
    position: fixed;
    left: 0;
}

#right-button {
    position: fixed;
    right: 0;
}

/* feeds menu stuff */
#feeds-menu {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--feeds-menu-bg);
    color: var(--feeds-menu-fg);
    padding: 10px;
    text-align: right;
}

#feeds-menu button {
    border: none;
    background: none;
    color: #ffffff; /* TODO: make a theme variable */
    font-weight: bold;
    font-family: inherit;
}

#feeds {
    display: none;
}

#feeds-menu:hover #feeds {
    display: block;
}

#feeds span {
    display: block;
    font-size: 10pt;
}

/* blurred bg */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(16px);
    z-index: -1;
}